---
import Layout from '../layouts/Layout.astro';
import ParallaxHeader from '../components/header/ParallaxHeader.jsx'
import Offers from '../components/Offers.jsx'
import Services from '../components/Services.jsx'
import { Tabs } from '../components/tabs/ComIceMachine.jsx'
import { Brands } from '../components/brands/Brands.jsx'
import '../styles/global.css';

const structuredData = {
	"@context": "https://schema.org",
	"@type": "WebPage",
	"name": "Same Day Appliance Repair",
	"description": "High-End Appliance Repair services",
	"publisher": {
		"@type": "Organization",
		"name": "Same Day Appliance Repair",
	},
	"datePublished": new Date().toISOString(),
	"dateModified": new Date().toISOString()
};
// Example breadcrumbs for the home page
const breadcrumbs = [
	{ text: 'Welcome' }
];
---

<Layout
	title="Same Day Appliance Repair Appliance Repair"
	description="Luxury Appliance Repair Services"
	structuredData={structuredData}
>
<ParallaxHeader client:idle/>
<div id="maincontent">
<section>
</section>
</div>
<Services client:visible/>
<Offers client:visible/>
<Tabs client:visible/>
<Brands client:visible/>
</Layout>