<!-- Parallax Header Section -->
    <!-- Background Video -->
    <div class="video-container">
        <video id="bgVideo" class="bg-video" autoplay muted loop playsinline>
             <source src="/bg.mp4" type="video/mp4" media="(min-width: 769px)">
            Your browser does not support the video tag.
        </video>
    <!-- Main Text Content -->
         <div class="maintext">
                    <h1>ZARICCI Luxury Appliance Repair</h1>
                    <p>At Luxury Appliance Repair, we specialize in repairing high-end appliances with precision, ensuring your kitchen and home run seamlessly. With certified technicians, premium-quality parts, and exceptional customer care, we deliver reliable service tailored to your needs.</p>
                    <p>We’re trusted by customers throughout Los Angeles to repair luxury and high-end brands like  Viking, Wolf, Thermador, Gaggenau, Miele, Bosch, Jenn-Air, KitchenAid, Dacor, La Cornue, Smeg, Big Chill, Elmira Stove Works, BlueStar, Fisher & Paykel, and AGA</p>
    </div>
   
    </div>